<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      
        <p>catch : {{catch}} 을/를 받음!</p>
      
        <form action=" {% url "throw_catch:first" %} " method="GET">
            <label for="throw">throw : </label>
            <input type="text" name = 'throw', id ='throw'>
            <input type="submit" value="휙">
        </form>
        
    </div>
</body>
</html>