<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>catch! I catch {{catch}}!!</h1>
  <form action="/third/" method="GET">
		<label for="message">and throw:</label>
    <input type="text" name="message" id="message">
    <label for="message1">twice!:</label>
    <input type="text" name="message1" id="message1">
    <input type="submit" name= "휙">
</form>
</body>
</html>
